@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.front-banner {
  height: 100vh;
  background: #000 url(../images/backgroundCover.svg);
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1.5625rem 1.25rem;
  position: relative;
      position: fixed;
    left: 0;
    right: 0;
    z-index: 900000;
  
}


.nav-links {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  list-style-type: none;
  background: #34a853;
  top: 70px;
  left: 0;
  right:0;
  padding: 1.5625rem 1.5625rem;
  opacity:1;
    animation: menu;
    animation-duration: .5s;
    animation-delay: 0s;
    transition: all 1s ease-in-out;
}

@keyframes menu{
    0% { height: 0}
    100%{height: 170px;}
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.link-item {
  padding: 0.8rem 0rem;
}

.link-item:hover {
  border-bottom: solid 1px #b8d344;
}

.nav-links .btn {
  background: #fff;
  color:  #000;
  width: 6.5rem;
  text-align: center;
  border-radius: 3px;
}

.nav-links .btn:hover {
  color: #fff;
  background: linear-gradient(96.67deg, #34a853 0%, #b8d344 100%);
}

.sticky{
    background: #000;
  }

.hamburgerCover {
  cursor: pointer;
  width: 2.5rem;
}

.hambuger {
  width: 2.5rem;
  height: 2px;
  background: #ffffff;
  position: relative;
  top: 1.25rem;
  cursor: pointer;
  border-radius: 5px;
}

.hambuger::before,
.hambuger::after {
  content: "";
  width: 2.5rem;
  height: 2px;
  background: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.hambuger::before {
  transform: translateY(-8px);
}

.hambuger::after {
  transform: translateY(8px);
}

.show {
  display: flex;
}

.hamburgerCover.open .hambuger {
  transform: translateX(-50px);
  background: transparent;
}

.hamburgerCover.open .hambuger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.hamburgerCover.open .hambuger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.build {
  width: 80%;
  margin: 0 auto 5% auto;
  font-size: 2.5rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
}

.space{
    height: 30%;
  }

.desktop-color {
  display: inline;
}

.mobile-color {
  color: #b8d344;
  display: block;
  font-size: 2.1875rem;
}

.hidden-text {
  display: none;
}

.recruit {
  width: 75%;
  margin: 0 auto;
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.6875rem;
}

.build-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 247px;
  height: 3.125rem;
  margin: 3.125rem auto;
  background: linear-gradient(96.67deg, #34a853 0%, #b8d344 100%);
  cursor: pointer;
  transition: all 0.5s ease;
      opacity: 0;
    animation: btn;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transition-duration: 1s;
}

.build-btn a {
  color: #fff;
  text-decoration: none;
}

@keyframes btn{
    0% { opacity: 0; width:0}
    100%{opacity: 1; width: 247px; }
}

.build-btn:hover {
  transform: scale(1.2);
}

#clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  background: #f9fafb;
  opacity: 0.7;
}

.clients-logos {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}

.client {
  margin: 0 1rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.client:hover {
  transform: rotateY(360deg);
}

.why-content {
  width: 90%;
  margin: 5% auto;
}
.why-header h1 {
  padding: 20px 0px;
}
.workspace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.workspace-image {
  width: 100%;
  height: 23.6875rem;
  background: url(../images/workspace.svg);
  background-position: center;
  background-size: cover;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}
.workspace-text-container {
  padding: 1.5rem 0;
}
.workspace-text {
  margin-bottom: 1.8rem;
  font-size: 0.9rem;
  font-weight: 200;
}
.workspace-text-header {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 0;
}
.more {
  display: block;
  padding: 20px 0 0 0;
}

.client-base {
  padding: 1rem 2rem;
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.5;
  text-align: center;
  background: #f5f9e7;
}
.testimonial-leadership {
  background: linear-gradient(180deg, #f9fafb 0%, #f5f9e7 100%);
  padding: 5rem 0;
}
.testimonial-leadership-content {
  width: 90%;
  margin: 0 auto;
}

.testimonial {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.testimonial-video {
  width: 100%;
  height: 18.75rem;
  background: url(../images/testimonialVid.svg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.playbtn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
}
.playbtn img {
  width: 100%;
}

.testimonial-text-container {
  position: relative;
}
.testimonial-text {
  border-bottom: solid 1px rgb(0, 0, 0, 0.2);
}

.arrow-box {
  display: flex;
  justify-content: space-between;
  width: 5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 0.5rem;
}

.backward {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #dddcdc url(../images/arrow.svg) no-repeat center;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.forward {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #dddcdc url(../images/arrow.svg) no-repeat center;
}

.client-name {
  margin-top: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
}
.client-portfolio {
  display: block;
  font-size: 0.8rem;
  font-weight: 200;
}
.testimony-stage {
  display: none;
}

.leadership-header {
  padding: 2.8rem 0 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.leadership-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.leader-card {
  width: 100%;
  height: 520px;
  position: relative;
  padding: 1.5rem;
  background: #fff;
  transition: all 0.9s ease-in-out;
}

.leader-card:hover {
  transform: scale(1.09);
}

.leader-image {
  width: 7.125rem;
  height: 7.125rem;
  border-radius: 50%;
}

.leader-image {
  width: 100%;
  height: 7.125rem;
}
.leader-name {
  padding: 1.8rem 0 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6;
}
.leader-portfolio {
  display: block;
  font-size: 0.8rem;
  font-weight: 200;
  color: #2c3134;
}

.leader-experience {
  line-height: 1.7;
  font-size: 0.9rem;
  padding: 0.7rem;
}

.experience {
  padding: 0.3rem;
}
.linkedin a {
  position: absolute;
  bottom: 0;
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  color: #000;
  text-decoration: none;
}

.partnership-container {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.partnership-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #34a853;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 1.8rem 0;
  overflow-y: scroll;
  gap: 2rem;
}
.full-width {
  background: #35a555;
}
.technologies {
  background: #35a555;
  color: #fff;
  padding-bottom: 3rem;
  width: 100%;
}
.technologies-wrap {
  width: 90%;
  margin: 0 auto;
}
.skilled {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 2rem 2rem 2rem 0;
}
.access,
.desktop-stacks {
  display: none;
}
.mobile-access {
  padding: 0rem 3rem 3rem 0;
  font-weight: 300;
}
.stacks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.stack-cluster {
  list-style-type: none;
  width: 9rem;
  font-size: 0.8rem;
  line-height: 1.8;
}

.media {
  padding: 4rem 0;
  background: #fbfcfc;
}

.media-container {
  width: 90%;
  margin: 0 auto;
}

.media-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 2rem 0;
}
.media-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2c3134;
}
.media-blog {
  visibility: hidden;
}
.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.news-card {
  width: 100%;
  position: relative;
  height: 31.25rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
    height: 100%; */
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(
    359.8deg,
    #34a853 0.12%,
    rgba(52, 168, 83, 0) 99.77%
  );
  transition: all 0.6s ease;
  cursor: pointer;
}

.overlay:hover {
  background: linear-gradient(
    359.8deg,
    #34a853 0.12%,
    rgba(0, 83, 168, 52) 99.77%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.news-card img {
  width: 100%;
  height: 100%;
}

.news-title {
  position: absolute;
  top: 75%;
  color: #fff;
  padding: 0 2.5rem;
  z-index: 2;
}
.readmore {
  display: block;
  padding: 1rem 0;
  font-size: 0.9rem;
}

.footer {
  background: #000;
  padding-bottom: 8rem;
}

.footer-wrap {
  width: 90%;
  margin: 0 auto;
}
.footer-block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 0 0;
  border-bottom: solid 2px #eee;
}

.block1-text {
  font-size: 2.2rem;
  font-weight: 800;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.footer-block2 {
  padding: 3rem 0 0 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap:3rem;
}

.logo-corner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-logo {
  display: none;
}

.info-corner .stack-cluster {
  line-height: 3;
  width: 10rem;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.icon {
  margin-right: 1rem;
  height: 40px;
  width: 35px;
}

.copyright {
  color: #fff;
}

.copyright-span {
  color: #34a853;
}
.stack-item a {
  color: #fff;
  text-decoration: none;
}

.info-corner {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  gap: 1rem;
}

.info-heder {
  font-size: 1rem;
  font-weight: 800;
}

.contact {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

@media only screen and (min-width: 768px) {

  nav {
    padding: 1.5625rem 6.25rem;

  }

  .nav-items {
    width: 30rem;
  }

  

  .nav-links {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: none;
    padding: 0;
  }

  .link-item {
  padding: 0.625rem 1.5625rem;
}

  .nav-links a {
  text-decoration: none;
  color: #fff;
}
.nav-links .btn {
  border: none;
  background: #fff;
  color:  #000;
  width: 6.5rem;
  text-align: center;
}

  .hamburgerCover {
    display: none;
  }


  .build {
    width: 60%;
    margin: 0% auto 2% auto;
    font-size: 3.4375rem;
    line-height: 4.314rem;
  }

  .hidden-text {
    display: inline;
  }

  .desktop-color {
    color: #b8d344;
  }

  .mobile-color {
    color: #fff;
    display: inline;
    font-size: 3.4375rem;
    padding: 10px;
  }

  .recruit {
    width: 50%;
    font-size: 1.59rem;
    line-height: 38px;
    font-weight: 200;
  }

  .build-btn {
    height: 3.75rem;
  }

  .why-content {
    margin: 2% auto;
  }
  .why-header h1 {
    font-size: 1.9rem;
  }
  .workspace-image {
    width: 31.25rem;
    height: 36.25rem;
  }
  .workspace-text-container {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 0;
  }
  .workspace-text {
    /* width: 18.75rem; */
    width: 45%;
    line-height: 1.9;
  }

  .workspace-text-header {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.8rem 0 1.2rem 0;
  }
  .client-base {
    width: 30%;
    margin: 0 auto;
    background: #fff;
    padding: 2.3rem;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .testimonial-video {
    width: 31.25rem;
  }

  .testimonial-text-container {
    width: 55%;
  }
  .arrow-box {
    top: 0;
    padding-top: 1rem;
  }
  .testimonial-text {
    border-top: solid 1px rgb(0, 0, 0, 0.2);
    border-bottom: solid 1px rgb(0, 0, 0, 0.2);
    padding-top: 1.2rem;
  }
  .testimony {
    width: 25rem;
    margin: 3rem 0;
  }
  .testimony-stage {
    display: flex;
    justify-content: flex-end;
  }

  .leadership-header {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 5rem 0 3rem 0;
  }

  .leader-card {
    width: 26%;
  }

  .leader-experience {
    line-height: 2;
    font-size: 0.95rem;
  }

  .partners {
    width: 50%;
    margin: 2rem auto;
  }
  .full-width {
    width: 90%;
    margin: 0 auto;
  }

  .desktop-stacks {
    display: inline-block;
    padding: 0 0.6rem;
  }
  .access {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 400;
  }
  .mobile-access {
    display: none;
  }
  .mobile-stacks {
    display: none;
  }

  .skilled {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2.1rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
  }
  .stacks {
    padding: 4rem 0 2rem 0;
  }
  .stack-cluster {
    font-size: 0.9rem;
    width: 10rem;
  }
  .info-corner .stack-cluster {
    width: 11rem;
  }
  .media-blog a {
    visibility: visible;
    color: #34a853;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
  }

  .news-card {
    width: 30%;
    height: 100%;
  }

  .footer-block2 {
    flex-direction: row;
  }

  .footer-logo {
    display: block;
    height: 50px;
    background: url(../images/logo.svg) no-repeat;
  }

  .social-icon {
    justify-content: flex-start;
  }

  .info-corner {
    width: 50%;
    justify-content: space-between;
  }
}
